@charset "utf-8";

.a {
    float: left;
    display: inline-block;
}
.container{
    color: #CD9C00;
    border: none;
    width: 90%;
    font-family: "Trebuchet MS";
}

#logo-h1{
    margin: 20px 20px 10px 20px;
    float:left;
    border: none;
    display: inline-block;
    width: 100%;
}
.h1-img{
    float:left;
}
.b {
    float:right;
}
#logo-h1 img{
    padding-top: 10px;
}

.h1-header{
    margin-top: 20px;
    margin-left: 20px;
    margin-right:20px;
    font-family: Trebuchet MS;
    border: none;
    float:left;
    text-align: right;
    margin-bottom:10px ;
}
.current{
    color: #252627;;
    font-weight: bold;
}

ul{
    padding: 0;
    margin: 0;
}

header li {
    float:left;
    display:inline;
    padding: 30px 20px 10px 10px;
}
.topnav{
    border-radius: 20px;
    width:100%;
    border: solid 1px;
    float:left;
    margin: 0px 20px 10px 20px;
    color: #CD9C00;
    background-color: #CD9C00;
    font-family: "Trebuchet MS";
}
header a, header li:hover{
    color: white;
    font-weight: bold;
    cursor: pointer;
}
header a,header li {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    color: #252627;
}
#main-column-usluge {
    padding-left: 20px;
    float:left;
    width: 60%;
}
#sidebar{
    border-radius: 20px;
    float: right;
    width:35%;
    margin-top: 20px;
    background-color: #CD9C00;
    font-family: "Trebuchet MS";
    color: black;
}

.service-box {
    border-bottom: #CD9C00 1px;
    float:left;
    margin-left: 25px;
    width: 100%;
}
.img-box{
    float:left;
    width: 35%;
}
.funkcija{
    margin-top: 10px;
    float:left;
    vertical-align:middle;
}
.proizvodi{
    margin-top: 10px;
    float:left;
    vertical-align:middle;
    line-height: 115px;
}
.funkcija h3{
    text-align: center;
    vertical-align: middle;
    font-size: 15px;
}
#main {
    
}
.text-box {
    display: inline-block;
    width: 100%;
}
 input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 10px;
    resize: vertical;
}
input[type=submit] {
    background-color:#252627;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #CD9C00;
}
.galerija img{
    width: 300px;
    height: 200px;
}
.containercont {
    border-radius: 5px;
    padding: 20px;
    width: 50%;
    padding-top: 100px;
    font-family: "Trebuchet MS";
    color: #CD9C00;
}
.text-box3 {
    display: inline-block;
    width: 60%;
    background-color: #CD9C00;
}
.text-box3 {
    display: inline-block;
    border-bottom: solid black 1px;
    /*float: center;*/
    margin-top: 100px;
    margin-left: 25px;
    width: 60%;

}
.text-box5 {
    display: inline-block;
    width: 80%;
    
}
.img_funkcija{
    width: 25%;
    float:left;
}
#slide_img{
    margin-left: 20px;
    background-color: transparent;
    float:left;
    width: 100%;
}

/*Galerija*/
.row > .column {
    padding: 0 8px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Create four equal columns that floats next to eachother */
.column {
    float: left;
    width: 20%;
}

/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 120%;
    overflow: auto;
    background-color: black;
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    width: 80%;
    max-width: 1200px;
}

/* The Close Button */
.close {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
}

/* Hide the slides by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* Caption text */
.caption-container {
    text-align: center;
    background-color: black;
    padding: 2px 16px;
    color: white;
}

img.demo {
    opacity: 0.6;
}

.active,
.demo:hover {
    opacity: 1;
}

img.hover-shadow {
    transition: 0.3s
}

.hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

/*login/registracija*/
#ulogujSe{
    width:308px;
    margin-top:0;
    padding:28px 25px;
    /*background-color:#fff;*/
    border:1px solid #000;
    /*position:absolute;*/
    /*left:50%;*/
    /*margin-left:-180px;*/
    /*top:0*/
}
#registrujSe{
    width:308px;
    margin-top:0;
    padding:28px 25px;
    /*background-color:#fff;*/
    display:none;
    border:1px solid #000;
    /*position:absolute;*/
    /*left:50%;*/
    /*margin-left:-180px;*/
    /*top:0*/
}
h3{
    margin-top:0
}
input[type=text],[type=password]{
    padding:7px;
    width:100%;
    height:40px;
    margin-top:15px;
    font-size:18px
}
input[type=button]{
    background:linear-gradient(to bottom,#22abe9 5%,#36caf0 100%);
    box-shadow:inset 0 1px 0 0 #7bdcf4;
    border:1px solid #0F799E;
    color:#fff;
    width:306px;
    height:40px;
    margin-top:15px;
    font-size:18px;
    font-weight:700;
    cursor:pointer;
    text-shadow:0 1px 0 #13506D
}
input[type=button]:hover{
    background:linear-gradient(to bottom,#36caf0 5%,#22abe9 100%)
}
a{
    text-decoration:none;
    color:#6495ed
}
p#two{
    margin-bottom:0
}

@media (max-width: 768px) {

    .funkcija, .img-box, .proizvodi , .img_funkcija{
        margin-top: 5px;
        float: none;
        text-align: center;
        width: 100%;
    }

    .service-box {
        width: 90%;
    }

    .funkcija h3, .proizvodi {
        margin-top: 5px;
        text-align: center;
        vertical-align: middle;
        line-height: 5px;

    }

    #sidebar, #main-column-usluge {
        width: 95%;
    }

    .h1-header {
        float: none;
    }
    .h1-img,.b{
        float:none;
    }

    #logo-h1 {
        float:none;
        margin:0px;
    }

    .h1-header {
        margin-left: 5px;

    }
    .funkcija {
        font-size: 15px;

    }
}



